h1.display-4 {
    font-size: 2em;
}

.btn {
    font-size: 1.25em;
    padding: .55em .75em;
}

.calc-wrapper {
    max-width: 330px;
    margin: auto;
    border: 1px solid #eee;
    background: #f9f9f9;
}

.calc-screen {
    border: 1px solid #eee;
}
.calc-screen .calc-full {
    text-align: right;
    height: 2em;
    padding: .375em .75em;
    background: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.calc-screen .calc-screen-input {
    font-size: 1.6em;
}
.calc-screen input {
    outline: 0;
    box-shadow: none;
}
.calc-screen input[type=number]::-webkit-inner-spin-button, 
.calc-screen input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  appearance: none;
  margin: 0; 
}

.calc-operation-group .btn {
    flex-grow: 1;
    width: calc(25% - 2px);
    margin: 1px;
}
.calc-numbers-group .btn {
    flex-grow: 1;
    width: calc(33.333% - 2px);
    margin: 1px;
}