h1.display-4 {
    font-size: 2rem;
}

.calc-wrapper {
    max-width: 360px;
    margin: auto;
    border: 1px solid #eee;
    background: #f9f9f9;
}

.calc-screen {
    border: 1px solid #eee;
}
.calc-screen .calc-log {
    text-align: right;
    height: 2rem;
    padding: .3rem .8rem;
    background: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.calc-screen .calc-screen-input {
    font-size: 2rem;
    padding: .3rem .8rem;
}
/*.calc-screen .calc-screen-input .calc-key-input {
    visibility: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 1rem;
}*/
.calc-screen input {
    outline: 0;
    box-shadow: none;
}
.calc-screen input[type=number]::-webkit-inner-spin-button, 
.calc-screen input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  appearance: none;
  margin: 0; 
}

.btn-toolbar .btn {
    font-size: 1.6rem;
    padding: .8rem .8rem;
    border-radius: .3rem;
}
.calc-operation-group .btn {
    flex-grow: 1;
    width: calc(25% - 2px);
    margin: 1px;
}
.calc-numbers-group .btn {
    flex-grow: 1;
    width: calc(33.333% - 2px);
    margin: 1px;
}